* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 62.5%;
    box-sizing: border-box;
}

.header {
    height: 100vh;
    width: 100%;
    background-image: url("img/your_verse_hero.jpg");
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary span {
    display: block;
}

.heading-primary a {
    text-decoration: none;
    color: black;
}

nav {
    background-image: linear-gradient(#777777, #767676);
    transform: translate(-6rem, 6rem);
    display: flex;
    margin-left: 20rem;
    margin-right: 5rem;
    border-radius: 5px;
    /* border: 0.2rem solid; */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

.apple-logo {
    height: 1.5rem;
    width: 1.5rem;
    transform: translateX(-5rem);
}

.input-form {
    display: flex;
    flex: 0 0 40%;
    align-items: center;
    justify-content: center;
    margin-right: -10rem;
}

.magnifying-glass {
    height: 1.2rem;
    width: 1.5rem;
    transform: translateX(-6.4rem);
    fill: #fff;
}

.input-search {
    border-radius: 2.5rem;
    width: 50%;
    height: 1.2rem;
    background-color: gray;
    transition: all .1s;
}

.input-search:focus {
    outline: none;
    width: 10rem;
    background-color: #fff;
    text-indent: 2rem;
}

.input-search:focus + svg {
    fill: gray;
    transform: translateX(-9.9rem);
}

